Assessment_1/Kapitel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Kapitel">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="kapitel" type="kapiteltyp" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="kapiteltyp">
    <xs:sequence>
      <xs:element name="absatz" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="kapitel" type="kapiteltyp" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
